.conteiner-form {
  background-color: #25333c;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 50px;
  margin-top: 10px;
}

@media (min-width: 570px) {
  .container {
    max-width: 570px;
  }
}

p {
  color: #d5fcfe;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

::placeholder {
  color: #a1adb7;
}

button {
  width: 100%;
  border: none;
  background-color: #4fa582;
}

button:hover {
  background-color: #427c6d;
}

input {
  background-color: #25333c;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #a1adb7;
  color: #4fa582;
}

span {
  color: #a1adb7;
}

.btn, .form-control {
  border-radius: 0px;
}

.glyphicon {
  padding-right: 40px;
}

.my-paddig {
  padding-right: 15px;
  padding-left: 15px;
}

input::-webkit-input-placeholder::after {
  content: ' *';
  color: #4fa582;
}
